<!DOCTYPE html>{% load gravatar %}
<html>
<head>
    <title>{% block title %}{% endblock %} - Twikie</title>
    
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
    {% endblock css %}
    
    {% block js %}
    {% endblock js %}
</head>
<body>
    <header>
        <h2 class="banner">Twikie</h2>
        <ul class="navigation">
            {% if user.is_authenticated %}
                <li><img src="{% gravatar_url user.email %}" width="22" /></li>
                <li><a href="/{{user}}">{{user}}</a> |</li>
                <li><a href="/inbox">inbox ({{user.message_set.count}})</a> |</li>
                <li><a href="/">home</a> |</li>
                <li><a href="/projects/new/">new project</a> |</li>
                <li><a href="/accounts/logout/">log out</a></li>
            {% else %}
                <li><a href="/">home</a> |</li>
                <li><a href="/accounts/login/">login</a> |</li>
                <li><a href="/accounts/register/">register</a></li>
            {% endif %}
        </ul>
    </header>
    <div id="left-pane">
        <p>Projects</p>
    </div>
    <div id="main">
        <nav class="secondary">
            {% block secondary-nav %}
            {% endblock secondary-nav %}
        </nav>
        <div class="content">
            {% block main %}
            {% endblock main %}
        </div>
    </div>
    <div id="bottom">
        {% block bottom %}
        {% endblock bottom %}
    </div>
</body>
</html>
