<!DOCTYPE html>{% load gravatar %}
<html>
<head>
    <title>{% block title %}Home{% endblock %} - Twikie</title>
    
    {% block css %}
        <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
    {% endblock css %}
    
    {% block js %}
    {% endblock js %}
</head>
<body>
    <header>
        <h2 class="banner">Twikie</h2>
        <ul class="navigation">
            {% if user.is_authenticated %}
                <li><a href="/">Home</a> |</li>
                <li><a href="/inbox">Inbox ({{user.message_set.count}})</a> |</li>
                <li><a href="/accounts/logout/">Log Out</a></li>
            {% else %}
                <li><a href="/accounts/login/">Login</a> |</li>
                <li><a href="/accounts/register/">Register</a></li>
            {% endif %}
        </ul>
    </header>
    <div id="left-pane">
        <p>Projects</p>
    </div>
    <div id="main">
        <nav class="secondary">
            {% block secondary-nav %}
                {% if user.is_authenticated %}
                    <h3>All Projects</h3>
                    <a href="/{{user}}">My Account</a>
                {% endif %}
            {% endblock secondary-nav %}
        </nav>
        <div class="content">
            {% block main %}
            {% endblock main %}
        </div>
    </div>
    <div id="bottom">
        {% block bottom %}
        {% endblock bottom %}
    </div>
</body>
</html>
